*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
}

$primary-font: 'Open Sans', sans-serif;

$font-weights: (
    "regular": 400,
    "bold": 500
);

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}